.add-event-container{
    width:600px;
    height:auto;
    /* margin:center; */
    border: 1px solid black;
    padding:40px;
    border-radius:20px;
    position:relative;
    justify-content: center ;
    text-align: center;
    margin: auto;
    margin-top:100px;
}
.sharp{
    display:flex;
    padding:10px;
}
.sharp p{
    padding:10px;
}
.cancel-button {
    width:100%;
    background-color: rgba(255, 0, 0, 0.67);
    padding:10px;
    text-align: center;
    font-size: 16px;
    color:#fff;
    
}
.cancel-button a{
    text-decoration: none;
    color:white;
    text-decoration: none;
}

