header .logo img{
    width:120px;
    height: 120px;
    position: absolute;
    right:0;
    /* padding:100px; */
}


.top-side{
    width:100%;
    height:auto;
    background-color: #FAF1E6;
    
}
/* header{
    background-color: #FAF1E6;
} */
/* .profile , header{
    /* background-color: #FAF1E6; */
/* } */
.imgContainer{
    position: relative;
    bottom:40px;
}
.imgContainer img{
    
    width:190px;
    height:190px;
    border-radius: 50%;
    position: relative;
    right:50px;
    border: 1px solid rgba(0,0,0,0.5);
}
.imgContainer .joinDate{
    margin-right:85px;
    font-size:14px;
    padding-bottom: 10px;
}
.profile{
    margin-top: 50px;
    display: flex;
}
.numbers{
    position: relative;
    right:100px;
    padding-top: 10px;
    display:flex;
}
.name{
    padding:0 10px;
}
.name .text {
    font-size: 12px;
    position: relative;
    top:-5px;
    text-align: center;
}
.profileDescription{
    margin:0 100px;
}
.titleName h3{
    font-weight: bold;
}

.Description{
    font-size: 25px;
}
.servicePinformation{
    position: relative;
    height: 100px;
    bottom:30px;
}
.servicePinformation .buttons{
    display: flex;
    position: relative;
    right:20px;
}

.servicePinformation .buttons .sendButton{
    padding: 0 20px;
    /* background-color: #FF9954;  
    padding:10px 20px;
    border-radius: 30px; */
}
.sendButton a{
    padding: 0 20px;
    background-color:#FF9954;
}
.followButton a{
    padding: 0 20px;
    background-color:#fff;
}
.servicePinformation .buttons a {
    font-size: 25px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    padding:10px 20px;
    border-radius: 30px;
    
}
.edit-button{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    width:120px;
    height:30px;
    background-color: #FF9954;
    text-align: center;
    border-radius: 25px;
    justify-content: center;
    text-decoration: none;
    color:black;
}

.location{
    padding:0 500px;
    font-size: 25px;
}
.rate{
    font-size: 25px;
}
.title-hobby, .title-users{
    padding:20px;
}
.name-of-hobbies, .name-of-users{
    display:flex;
    padding:20px;
}
.hobby{
    padding:10px 40px;
    border:1px solid black;
    margin:0 20px;
    border-radius: 20px;
    font-weight: bold;
}
hr{
    width:350px;
    border:2px solid black;
}

.user{
    position: relative;
    top:110px;
    left:85px;
    border:1px solid rgba(0,0,0,0.5);
    width:80px;
    height:30px;
    text-align: center;
    border-radius:20px;
    font-weight: bold;
    /* padding:5px; */
}
.user-icon{
    width:100px;
    height:100px;
    border-radius: 50%;
    border:1px solid black;
}