/* body {
    /* margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; */
    /* background-image: repeating-linear-gradient(45deg, rgba(194, 194, 194,0.1) 0px, rgba(194, 194, 194,0.1) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255),rgb(255,255,255));
 } */


.container {
    width: 450px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top:200px;
}

.logo {
    display: block;
    margin: 0 auto;
    width:150px;
    height: 150px;
    /* max-width: 200px; */
    /* width:120px;
    height:120px; */
    margin-bottom: 20px;
}
.gender{
    display: flex;
    direction: rtl;
}

.title {
    text-align: center;
    color: #333;
    font-size: 25px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    text-align: right;
}

label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #777;
    padding:0 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #CCC;
    width: 100%;
    text-align: right;
    font-size: 16px;
    text-align: right;
}

input[type="submit"] {
    padding: 10px;
    background-color: #FF6F00;
    color: #FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #FF9023;
}

.login-link, .signup-link {
    text-align: center;
    color: #777;
    margin-top: 20px;
}

.login-link a,.signup-link a, .forget-password a {
    color: #FF6F00;
}
.forget-password{
    text-align: right;
}


