.service-provider-container{
    position: relative;
    top:100px;
}

.service-provider-container img{
    position: relative;
    border-radius:50% ;
    width:100px;
    height:100px;
    margin: 15px 100px;
    bottom:50px;
    border:1px solid rgba(0 ,0 ,0 ,0.5);
}
.profile-container{
    position: relative;
    width:100%;
    left:80px;
    margin: 40px 0 ;
}

.service-provider-name{
    position: relative;
    width:120px;
    top:-90px;
    right:120px;
    text-align: center;
    background-color: #FAF1E6;
    border:1px solid rgba(0 ,0 ,0 ,0.5);
    border-radius: 20px;
    padding:0 10px;
    font-size: 16px;
    font-weight: bold;
}

.timeline{
    position: relative;
    right:200px;
    top:-140px;
    border: 1px dashed #000;
    /* border-style:dashed; */
}

